---
---
@import 'bulma-0.8.2/bulma.sass';

.navbar-brand img {
  margin-right: .5em;
}

.code-block {
  margin: 1em 0 1em 0;
  padding: 0;
}

.list-show-bullets {
  list-style-type: disc;
}

.list-inside {
  list-style-position: inside;
}

h2 {
  @extend .subtitle;
  @extend .is-size-3;
}

h3 {
  @extend .is-size-4;
}

h4 {
  @extend .is-size-5;
}

h5 {
  @extend .is-size-6;
}

p {
  @extend .content;
}

ul, ol {
  list-style-position: inside;
}

dl {
  padding: 5px;
}

dt {
  font-weight: bolder;
}

dd {
  margin-left: 1em;
  margin-bottom: .5em;
}

.content pre.highlight {
  padding: 0;
}

.highlighter-rouge {
  margin: 1em 0 1em;
}

.homepage-splash .image {
  margin-right: 1em;
}

.package-grid {
  padding-bottom: 100px;
}

.built-by-tagline {
  font-size: 16px;

}

.built-by-tagline .icon {
  color: darkred;
}

.built-by-tagline img {
  margin: auto .2em;
}

.logo-disclaimer {
  margin-top: 3em;
  font-size: 12px;
}

.navbar-lk-logo {
  height: 28px;
  width: 28px;
}