---
layout: default
title: Labrador Kennel Packages
---
<div class="section">
  <div class="columns is-multiline is-centered">
    <div class="column is-half is-narrow has-text-centered">
      <p class="content">
        Labrador is a suite of asynchronous PHP 7 packages written on top of <a href="https://amphp.org">Amp</a>. Our
        goal is to design a set of libraries and frameworks that facilitates creating high-performing, well-tested,
        cleanly-separated applications.
      </p>
    </div>
    <div class="column is-three-quarters-desktop is-full-mobile is-full-tablet">
      <div class="columns is-centered is-multiline">
        {% assign packages = site.packages | sort: 'order' %}
        {% for package in packages %}
        <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title">{{ package.name }}</p>
            </div>
            <div class="card-content">
              {{ package.content }}
            </div>
            <div class="card-footer">
              <a href="{{ package.repo_url }}" class="card-footer-item">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
                GitHub
              </a>
              {% if package.docs_url %}
              <a href="{{ package.docs_url }}" class="card-footer-item">
              <span class="icon">
                <i class="fas fa-book"></i>
              </span>
                Docs
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
