---
layout: package
title: Labrador Kennel Packages
---
<section class="hero is-medium homepage-splash">
  <div class="hero-body">
    <div class="container is-flex">
      <figure class="image is-128x128">
        <img src="img/labrador-kennel-logo.png" width="128px" height="128px" alt="Labrador Kennel logo" />
      </figure>
      <div class="is-block">
        <h1 class="title is-marginless">Labrador Kennel</h1>
        <p class="is-italic">
          A suite of opinionated asynchronous PHP libraries built on top of <a href="https://amphp.org">amphp</a>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="columns is-multiline is-centered is-mobile package-grid">
  <div class="column is-three-quarters-desktop is-four-fifths-mobile is-four-fifths-tablet">
    <div class="columns is-centered is-multiline is-mobile">
      {% assign packages = site.packages | sort: 'order' %}
      {% for package in packages %}
      <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">{{ package.name }}</p>
          </div>
          <div class="card-content">
            {{ package.content }}
          </div>
          <div class="card-footer">
            {% if package.repo_url %}
              <a href="{{ package.repo_url }}" class="card-footer-item">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
                GitHub
              </a>
            {% else %}
              <div class="card-footer-item is-italic">
                Coming soon!
              </div>
            {% endif %}
            {% if package.docs_url %}
            <a href="{{ package.docs_url }}" class="card-footer-item">
            <span class="icon">
              <i class="fas fa-book"></i>
            </span>
              Docs
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
