<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Labrador Kennel</title>
  <base href="{{ site.baseurl }}/" />
  <link rel="shortcut icon" href="img/labrador-kennel-logo.png" />
  <link rel="stylesheet" href="css/styles.css" />
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
  />
  {% for external_css in site.external_css %}
  <link rel="stylesheet" href="{{ external_css }}" type="text/css" />
  {% endfor %}

  {% for external_js in site.external_js %}
  <script src="{{ external_js }}"></script>
  {% endfor %}
</head>
<body>
<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="img/labrador-kennel-logo.png" width="28" height="28" />
        <h1 class="title is-3">Labrador Kennel</h1>
      </a>
    </div>
  </nav>
</header>

<main class="section">
  {{ content }}
</main>

<footer class="footer">
  <div class="content has-text-centered">
    <strong>Labrador Kennel</strong> is an ambitious project pioneered by <a href="https://cspray.io">Charles Sprayberry</a>.
    The source code released here is licensed under <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
    If you have questions please <a href="mailto:contact@labrador-kennel.io">contact us</a>.
  </div>
</footer>
</body>
</html>
