<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Labrador Kennel</title>
  <base href="{{ site.baseurl }}/" />
  <link rel="shortcut icon" href="img/labrador-kennel-logo.png" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/highlight.css" />
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
  />
  {% for external_css in site.external_css %}
  <link rel="stylesheet" href="{{ external_css }}" type="text/css" />
  {% endfor %}
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="img/labrador-kennel-logo.png" width="28" height="28" />
          <h1 class="title is-3">Labrador Kennel</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="navbarLinksMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarLinks" class="navbar-menu">
        <div class="navbar-end">
          <a href="https://github.com/labrador-kennel" class="navbar-item">
            <span class="icon is-medium">
              <i class="fab fa-github-square fa-2x"></i>
            </span>
            <span class="is-hidden-desktop is-size-5">
              GitHub
            </span>
          </a>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section class="section">
      <div class="container">
        {{ content }}
      </div>
    </section>
  </main>

  <script src="js/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  {% for external_js in site.external_js %}
  <script src="{{ external_js }}"></script>
  {% endfor %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const menu = document.querySelector('#navbarLinksMenu');
      menu.addEventListener('click', () => {
        const links = document.querySelector('#navbarLinks');
        links.classList.toggle('is-active');
      });
    });
  </script>
</body>
</html>
