<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Labrador Kennel</title>
  <base href="{{ site.baseurl }}/" />
  <link rel="shortcut icon" href="img/labrador-kennel-logo.png" />
  <link rel="stylesheet" href="css/styles.css" />
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
  />
  {% for external_css in site.external_css %}
  <link rel="stylesheet" href="{{ external_css }}" type="text/css" />
  {% endfor %}
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="img/labrador-kennel-logo.png" width="28" height="28" />
          <h1 class="title is-3">Labrador Kennel {% if site.data.package.name %}{{site.data.package.name}}{% endif %}</h1>
        </a>
      </div>
    </nav>
  </header>

  <main>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            {{ content }}
          </div>

          {% if site.data.package.name %}
          <div class="column side-nav is-3">
            <div class="menu">
              <ul class="menu-list">
                <li>{% include menu_nav_link.html url="/" label="Installation" %}</li>
              </ul>

              {% include menu_nav_section.html collection="tutorials" %}
              {% include menu_nav_section.html collection="how-tos" %}
              {% include menu_nav_section.html collection="references" %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
  </main>

  <script src="js/prism.js"></script>
  {% for external_js in site.external_js %}
  <script src="{{ external_js }}"></script>
  {% endfor %}
</body>
</html>
