---
layout: default
---
<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <section>
        {{ content }}
      </section>
    </div>
    <div class="column is-one-third">
      <aside class="menu">
        <ul class="menu-list">
          {% for menu_item in site.data.navigation_menu %}
          {% assign menu_item_class = '' %}
          {% if page.url == menu_item.active_check %}
            {% assign menu_item_class = 'is-active' %}
          {% endif %}
          <li><a href="{{ menu_item.url }}" class="{{ menu_item_class }}">{{ menu_item.name }}</a></li>
          {% endfor %}
        </ul>
      </aside>
    </div>
  </div>
</div>
<script>
  try {
    hljs.initHighlightingOnLoad();
  } catch(error) {
    console.error('Error encountered highlighting code snippets.', error);
  }
</script>
