---
layout: default
---
<div class="container">
  <div class="columns">
    <div class="column">
      {{ content }}
    </div>
    <div class="column side-nav is-3">
      <div class="menu">
        <ul class="menu-list">
          <li>{% include menu_nav_link.html url="/" label="Installation" %}</li>
        </ul>

        {% include menu_nav_section.html collection="tutorials" %}
        {% include menu_nav_section.html collection="how-tos" %}
        {% include menu_nav_section.html collection="references" %}
      </div>
    </div>
  </div>
</div>