---
layout: default
---

<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{site.baseurl}}">
        <h1 class="title is-3">
          labrador{% if site.data.package.name %}/{{site.data.package.name}}{% endif %}
        </h1>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="navbarLinksMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarLinks" class="navbar-menu">
      <div class="navbar-end">
        <a href="/" class="navbar-item">
          <div class="is-hidden-mobile">
            <img src="{{site.baseurl}}/img/labrador-kennel-logo.png" alt="Labrador Kennel logo" width="28" height="28" />
          </div>
          <div class="is-hidden-desktop">
            <div class="media">
              <div class="media-left">
                <img src="{{site.baseurl}}/img/labrador-kennel-logo.png" alt="Labrador Kennel logo" width="28" height="28" />
              </div>
              <div class="media-content">
                labrador-kennel.io
              </div>
            </div>
          </div>
        </a>
        <a href="https://github.com/labrador-kennel" class="navbar-item">
          <div class="is-hidden-mobile">
            <span class="icon is-medium">
              <i class="fab fa-github-square fa-2x"></i>
            </span>
          </div>
          <div class="is-hidden-desktop">
            <div class="media">
              <div class="media-left">
                <span class="icon is-medium">
                  <i class="fab fa-github-square fa-2x"></i>
                </span>
              </div>
              <div class="media-content">
                <span class="is-size-5">
                  GitHub
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </nav>
</header>

<main>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          {{ content }}
        </div>

        <div class="column side-nav is-3">
          <div class="menu">
            {% include menu_nav_section.html collection="tutorials" %}
            {% include menu_nav_section.html collection="how-tos" %}
            {% include menu_nav_section.html collection="references" %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="js/highlight.pack.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menu = document.querySelector('#navbarLinksMenu');
        menu.addEventListener('click', () => {
            const links = document.querySelector('#navbarLinks');
            links.classList.toggle('is-active');
        });
    });
</script>
